.music {
  margin-top: 2rem;
}


#lastfm-widget {
  position: relative;
  width: 100%;
  max-width: 100wh;
  border-radius: 10px;
  
  background: linear-gradient(
    135deg,
    rgba(70, 40, 30, 0.85),
    rgba(120, 70, 50, 0.75)
  );
  
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.08);
} 

#background {
  display: none;
}

#widget-content {
  position: relative;
  z-index: 1;
  display: flex;
  gap: 16px;
  padding: 20px;
  align-items: center;
}

#cover-art-container {
  flex-shrink: 0;
}

#cover-art {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.5);
}

#widget {
  flex: 2;
  flex-direction: column;
  gap: 4px;
}

#recent-tracks {
  flex: 1.5;
  flex-direction: column;
  gap: 4px;
}

.recent-track {
  font-family: "VT323", serif;
  font-size: 14px;
  color: whitesmoke;
}

.recent-label {
  font-family: "VT323", serif;
  color: whitesmoke;
  font-weight: bold;
  margin-bottom: 6px;
}

/* Song title */
#song {
  font-family: "VT323", serif;
  font-size: 24px;
  color: white;
}

#artist {
  font-family: "VT323", serif;
  font-size: 14px;
  color: whitesmoke;
}

#timestamp {
  font-size: 12px;
  color: #9a9a9a;
  margin-top: 6px;
}

#widget-credit {
  font-size: 10px;
  color: #888;
  margin-top: 10px;
}

#widget-credit a {
  color: #aaa;
  text-decoration: none;
}

#widget-credit a:hover {
  color: #fff;
  text-decoration: underline;
}
