/* =====================================
   SITE-DIRECTORY
===================================== */
.site-directory {
  width: 100%;
  font-family: "VT323", Serif;
  background: none;

  border-collapse: separate;
  border-spacing: 4px 4px;
}

.site-directory tr {
  background: var(--bgmain);
}

.site-directory th:not(.heaidng),
.site-directory td {
  padding: 0.5rem;
}

.site-directory .heading {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  background: var(--bgmain);
  padding: 1rem;
}

.site-directory th:not(.heading) {
  width: 220px;
  text-align: left;
  font-weight: normal;
  white-space: nowrap;
}

.site-directory a {
  color: var(--accent);
  text-decoration: underline;
}

.site-directory a:hover {
  opacity: 0.75;
}

.sub {
  display: block;
  font-size: 0.9em;
  margin-top: 6px;
}
