.about-img {
  float: left;
  width: 300px;
  max-width: 100%;
  height: auto;
  margin-right: 1rem;
  border: 1px solid var(--border2);
}

@media (max-width: 768px) {
  .about-img {
    width: 100wh;
    float: none;
    display: block;
    margin: 0 auto 20px auto;
  }
}
