span {
  margin: 0;
  font-weight: 600;
}

ul {
  margin-top: 5px;
  list-style-type: none;
}

.about-img {
  float: left;
  width: 300px;
  max-width: 100%;
  height: auto;
  margin-right: 1rem;
  border: 1px solid var(--border2);
}

@media (max-width: 768px) {
  .about-img {
    width: 100wh;
    float: none;
    display: block;
    margin: 0 auto 20px auto;
  }
}
