<aside class="left">
    <div class="side-box1">
        <h3>navigations:</h3>
        <ul>
            <li><span class="prefix">/ </span><a href="index.html">home</a></li>
            <li><span class="prefix">/ </span><a href="webmaster.html">webmaster</a></li>
            <li><span class="prefix">/ </span><a href="site-updates.html">site updates</a></li>
        </ul>
        <br />
        <h3>archives:</h3>
        <ul>
            <li><span class="prefix">/ </span><a href="#">blogspace</a></li>
            <li><span class="prefix">/ </span><a href="#">faves</a></li>
        </ul>
    </div>

    <div class="side-box1">
        <h3>active ventures:</h3>
        <ul>
            <li><strong>playing: </strong>nothing atm</li>
            <li><strong>reading: </strong> Some Girls Do</li>
        </ul>
    </div>

    <div class="sidebox1">
        <div class="music">
            <div id="lastfm-widget">
                <div id="widget-content">
                    <div id="cover-art-container">
                        <img
                            src="https://lastfm.freetls.fastly.net/i/u/avatar170s/749921c5a4088aacf264f888349f1851.png"
                            id="cover-art"
                            alt="loading" />
                    </div>
                    <div id="widget">
                        <span id="song">Loading...</span>
                        <br />
                        <span id="artist">Loading..</span>
                        <br />
                        <span id="timestamp">Loading..</span>
                        <div id="widget-credit">
                            Latest played song on <a href="https://www.last.fm/user/avechuu" target="_blank">last.fm</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="side-box2">
        <footer class="side-footer">
            <div class="customhr">
                <p>══════ ✦ ══════</p>
            </div>
            <p>v3.1.0 • 03/26</p>
        </footer>
    </div>
</aside>
