<aside class="left">
    <div class="side-box1">
        <h3>navigations:</h3>
        <ul>
            <li><span class="prefix">/ </span><a href="../index.html">home</a></li>
            <li><span class="prefix">/ </span><a href="/pages/webmaster.html">webmaster</a></li>
            <li><span class="prefix">/ </span><a href="/pages/site-updates.html">site updates</a></li>
        </ul>
        <br>
        <h3>archives:</h3>
        <ul>
            <li><span class="prefix">/ </span><a href="/archives/blogspace/blogspace.html">blogspace</a></li>
            <li><span class="prefix">/ </span><a href="#">faves</a></li>
        </ul>
    </div>
    
    <div class="side-box1">
        <h3>active ventures:</h3>
        <ul>
            <li><strong>playing: </strong>nothing atm</li>
            <li><strong>reading: </strong> Some Girls Do</li>
        </ul>
    </div>
    
    <div class="side-box2">
        <footer class="side-footer">
            <div class="customhr">
                <p>════════ ✦ ════════</p>
            </div>
            <p>v2 • 02/26</p>
        </footer>
    </div>
</aside>